# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/
scratch_*.ipynb

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE & Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Large datasets cache (CSV, ZIP dung lượng lớn không đưa lên Git)
*.csv
*.zip
*.tar.gz
*.log
.DS_Store
Thumbs.db

# Large ML Weights (> 100MB)
*.h5
*.pth
