# Python cache & checkpoints
__pycache__/
*.py[cod]
.ipynb_checkpoints/
scratch_*.ipynb

# Virtual Environments
.venv/
venv/
env/

# Data cache (CSV/ZIP lớn > 50MB không commit lên Git)
data/raw/*.csv
data/raw/*.zip
data/processed/*.csv

# Logs & OS temp
*.log
.DS_Store
Thumbs.db
